<div class="container">
  <% if @error %>
      <p><%= @error %></p>
  <% else %>
    <span class="user_info">
      <%= current_user.name.capitalize %>'s <%= @user_photos.length %> posts.
    </span>

    <% @user_photos.each do |photo|%>
      <div id="polaroid">
        <div class="flippable">

          <figure class="front">
            <img class="photo" src="<%= photo.image_url %>" alt="user_photo" />
          </figure>

          <figure class="back">
            <figcaption><%= photo.dish_name %> from</figcaption>
            <figcaption><%= photo.created_at.month %> / <%= photo.created_at.day %>, <%= photo.created_at.year %></figcaption>
            <figcaption>Restaurant Info: </figcaption>
            <figcaption><%= photo.restaurant_name %></figcaption>
            <figcaption><%= photo.restaurant_rating %> stars</figcaption>
            <figcaption><%= photo.restaurant_address %></figcaption>
            <figcaption><%= photo.restaurant_phone %></figcaption>
            <figcaption><%= photo.restaurant_website %></figcaption>
            <br />
            <br />
            <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_photo_path(photo) %></button>
            <button type="button" class="btn btn-danger"><%= link_to 'Delete', photo_path(photo), method: :delete %></button>
          </figure>
        </div>
      </div>
    <% end %>
  <% end %>

  <div><%= link_to "Sign out", signout_path, id: "sign_out", class: "app-button" %></div>

</div>
