<div class="container">
  <div class="user_profile_container">
    <% if @error %>
      <p><%= @error[:message] %></p>
    <% end %>
      <p>
        Number of uploaded photos: <%= @photos.length %>
      </p>
      <p>
        Number of photos in your stash: <%= user_stash_count %>
      </p>

      <div class="user_photos_container">
        <% @photos.each do |photo|%>
          <span data-id="<%= photo.id %>">
            <img src="<%= photo.image_url %>" >
          </span>
        <% end %>
      </div>

  </div>

  <div><%= link_to "Sign out", signout_path, id: "sign_out" %></div>

</div>
