<div class="container">
  <% if @error %>
      <p><%= @error %></p>
  <% else %>
    <span class="user_info">
      <%= @user_photos.length %> posts
    </span>

    <% @user_photos.each do |photo|%>
      <div id="polaroid">
        <div class="flippable">
          <figure class="front">
            <img src="<%= photo.image_url %>" width="200" height="200" alt="user_photo" />
          </figure>
          <figure class="back">
            <figcaption><%= photo.dish_name %> from</figcaption>
            <figcaption><%= photo.restaurant %></figcaption>
            <figcaption>on <%= photo.created_at.month %> / <%= photo.created_at.day %>, <%= photo.created_at.year %></figcaption>
          </figure>
        </div>
      </div>
    <% end %>
  <% end %>

<div><%= link_to "Sign out", signout_path, id: "sign_out" %></div>

</div>
