<div class="user_profile_container">
  <p>
  <% if @error.any? %>
    <%= @error %>
  <% end %>
  </p>
  <p>
    <%= @photos.length %>
  </p>
  <p>
    <%= user_stash_count %>
  </p>
  <div class="user_photos_container">
    <% @photos.each do |photo|%>
      <span data-id="<%= photo.id %>">
        <img src="<%= photo.image_url %>" >
      </span>
    <% end %>
  </div>
</div>

