<div class="container">
  <div class="user_profile_container">
    <% if @error.any? %>
      <p><%= @error[:message] %></p>
    <% else %>
      <p>
        <%= @photos.length %>
      </p>
      <p>
        <%= user_stash_count %>
      </p>

      <div class="user_photos_container">
        <% @photos.each do |photo|%>
          <span data-id="<%= photo.id %>">
            <%= link_to image_tag(photo.image_url), photo_path(photo) %>
          </span>
        <% end %>
      </div>

    <% end %>
  </div>

  <div><%= link_to "Sign out", signout_path, id: "sign_out" %></div>
</div>
