<div class="container">
  <div class="user_profile_container">
    <% if @error %>
        <p><%= @error %></p>
  
    <% else %>
      <p>
        Number of uploaded photos: <%= @photos.length %>
      </p>
      <p>
        Number of photos in your stash: <%= user_stash_count %>
      </p>

      <div class="user_photos_container">
        <% @photos.each do |photo|%>
          <span><%= link_to image_tag(photo.image_url), photo_path(photo) %></span>
        <% end %>
      </div>
    <% end %>

  </div>

  <div><%= link_to "Sign out", signout_path, id: "sign_out" %></div>

</div>
