<div class="container">
    <h3> my photos </h3>
   <% if @error %>
      <p><%= @error %></p>

  <% else %>
    <% @user_photos.each do |photo|%>

      <div id="polaroid">
        <div class="flippable">

          <figure class="front">
            <img class="photo" src="<%= photo.image_url %>" alt="user_photo" />
          </figure>

          <figure class="back", id="back">
            <figcaption><%= photo.dish_name %></figcaption>
            <figcaption>Restaurant Info: </figcaption>
            <figcaption><%= photo.restaurant_name %></figcaption>
            <figcaption><%= photo.restaurant_address %></figcaption>
            <figcaption><%= photo.restaurant_phone %></figcaption>
            <figcaption><%= photo.restaurant_website %></figcaption>
            <br />

            <button type="button" class="btn btn-warning" ><%= link_to 'Edit', edit_photo_path(photo) %></button>
            <button type="button" class="btn btn-danger" class="edits"><%= link_to 'Delete', photo_path(photo), method: :delete %></button>
          </figure>
        </div>
      </div>

    <% end %>
  <% end %>



</div>
