<div class="container">
  <div class="wrap">
    <div id="tinderslide">
      <ul>
        <% @photostream.each_with_index do |photo, index| %>
          <li class="pane<%=index%>" data-photoid="<%= photo.id %>">
            <img class="photo" src="<%=photo.image_url%>" />
            <div class="like"></div>
            <div class="dislike"></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="actionz">
  <div class="finish_stash">
    <p> You finished browsing all the photo's near you! </p>
    <%= link_to "see your stash", user_stashes_path(current_user), class:
  "app-button" %>
    <%= link_to "search by tags", foodtags_path, class: "app-button" %>
  </div>

</div>

<div id="status"> Start Stashing! </div>

<div class="ps_logos_container">
  <div class="ps_logo_pass"> </div>
  <div class="ps_logo_stash"></div>
</div>



