<div class="container">
<h2>Explore Your Options</h2>

<h3>By Food Type</h3>

  <% @foodtags.each do |tag| %>
    <span class="tag"><%= link_to tag.description, foodtag_path(tag) %></span>
  <% end %>

 
<h3>By Price</h3>
<!-- It might be better to iterate through the collection of tags -->
  <span><%= link_to '$', pricetag_path(1) %></span>
  <span><%= link_to '$$', pricetag_path(2) %></span>
  <span><%= link_to '$$$', pricetag_path(3) %></span>
  <span><%= link_to '$$$$', pricetag_path(4) %></span>
</div>