<div class="containers">
  <h3> My Stash </h3>
  <% if @error %>
      <p><%= @error %></p>
  <% else %>

    <% @stash_photos.each do |photo| %>
      <div id="polaroid">
        <div class="flippable">

          <figure class="front">
            <img class="photo" src="<%= photo.image_url %>" alt="user_photo" />
          </figure>

          <figure class="back">
            <figcaption><%= photo.dish_name %> from</figcaption>
            <figcaption><%= photo.restaurant %></figcaption>
            <figcaption>on <%= photo.created_at.month %> / <%= photo.created_at.day %>, <%= photo.created_at.year %></figcaption>
            <br />
            <br />
            <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_photo_path(photo) %></button>
            <button type="button" class="btn btn-danger"><%= link_to 'Delete', photo_path(photo), method: :delete %></button>
          </figure>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
