<div class="container">
  <h3> my stash </h3>
  <% if @error %>
      <p><%= @error %></p>
  <% else %>

    <% @stash_photos.each do |photo| %>
    <!--  Can this be a partial that you re-use in users/show ? -->

      <div id="polaroid">
        <div class="flippable">

          <figure class="front">
            <img class="photo" src="<%= photo.image_url %>" alt="user_photo" />
          </figure>

          <figure class="back">
            <figcaption><%= photo.dish_name %></figcaption>

            <figcaption>Restaurant Info: </figcaption>
            <figcaption><%= photo.restaurant_name %></figcaption>
            <figcaption><%= photo.restaurant_address %></figcaption>
            <figcaption><%= photo.restaurant_phone %></figcaption>
            <figcaption><%= photo.restaurant_website %></figcaption>
            <br />
            <br />

            <button type="button" class="btn btn-danger"><%= link_to 'Remove from Stash', photo_stash_path(photo), method: :delete %></button>
          </figure>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
