<div class="new_photo_form">
  <%= form_tag photos_path, multipart: true do %>
  <p>
    <%= file_field_tag :image %></br>
  </p>

  <p>
    <%= text_field_tag :restaurant, nil, :placeholder => "restaurant" %></br>
  </p>

  <p>
    <%= text_field_tag :foodtags, nil, :placeholder => "foodtags" %></br>
  </p>

  <p>
    <%= text_field_tag :pricetag, nil, :placeholder => "pricetag" %></br>
  </p>

  <p>
    <%= submit_tag 'Add Photo' %></br>
  </p>
  <% end %>
</div>

