<!DOCTYPE html>
<html>
<head>
  <title>stash</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>

      <div class="nav_bar">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Search' %>
        <%= link_to 'Camera' %>
        <%= link_to 'My Stash', user_path(current_user) %>
        <%= link_to 'My Profile' %>
      </div>

    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
