<!DOCTYPE html>
<html>
<head>
  <title>stash</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


  <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPReP1WPR4FrvBjw117_L9d-SVfrxVXsA&libraries=places"></script>-->


</head>
<body>


<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">stash</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to image_tag("home.png"), root_path, class: "home" %></li>
      <% if current_user %>

        <li class="#"><%= link_to image_tag("search.png"), foodtags_path, class: "search" %></li>
        <li class="#"><%= link_to image_tag("camera.png"), new_photo_path, class: "camera" %></li>
        <li class="#"><%= link_to image_tag("dining-set.png"), user_stashes_path(current_user), class: "my_stash" %></li>
        <li class="#"><%= link_to image_tag("user.png"), user_path(current_user), class: "my_profile", id: "current_user.stash.id" %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign In with Facebook', "/auth/facebook",  id: "sign_in" %></li>
        <li><%= link_to 'Sign In with Google', "/auth/google_oauth2",  id: "sign_in" %></li>
      </ul>
      <% end %>

</nav>

<%= yield %>

</body>
</html>
