<!DOCTYPE html>
<html>
<head>
  <title>stash</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->

  <!-- Latest compiled JavaScript -->

  <script src="http://maps.google.com/maps/api/js?libraries=places"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>

  <div class="errors">
    <% @error %>
  </div>


    <% if current_user %>
    <nav class="navbar navbar-default" id="nav">
    <div class="container-fluid">
      <div class="menu_link_bar">
        <span class="menu_link"><%= link_to image_tag("dish.png"), root_path, class: "icon" %></span>
        <span class="menu_link"><%= link_to image_tag("search-glass.png"), foodtags_path, class: "icon" %></span>
        <span class="menu_link"><%= link_to image_tag("cam.png"), new_photo_path, class: "icon" %></span>
        <span class="menu_link"><%= link_to image_tag("head.png"), user_path(current_user), class: "icon", id: "current_user.stash.id" %></span>
        <span class="menu_link"><%= link_to image_tag("fridge.png"), user_stashes_path(current_user), class: "icon" %></span>
      </div>
    </div>
    </nav>
    <% else %>
    <div class="welcome-container">
      <h3>Sign in to start Stashing! </h3>
      <div class="login">
        <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook"> Login with Facebook <span class="fa fa-facebook"></span> </a>
        <a href="/auth/google_oauth2" class="btn btn-block btn-social btn-google"> Login with Google <span class="fa fa-google"></span> </a>
      </div>
    </div>
    <% end %>




    <%= yield %>


</body>
</html>
